{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link rel="stylesheet" href="../static/css/main.min.css">
    <!-- <link rel="stylesheet" href="../static/css/main.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="bg-light">
  
  <div class="container w-25 bg-white  login-bx" style="margin: auto;">
    <div class="alert alert-danger alert-dismissible w-100 fade show float-sm-right d-none" role="alert" id="alert">
      <div id="alert-msg">
         {{message}}
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

      <h3 class='text-primary text-center my-3'>Saee Novelty</h3>
      
      <h4 class="text-gray text-center">Admin Login</h4>
    <form action="" method="POST">
        {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="text" id="form2Example1" class="form-control" name="username" />
          <label class="form-label" for="form2Example1">Username</label>
        </div>
      
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" name="password"/>
          <label class="form-label" for="form2Example2">Password</label>
        </div>

        <select class="form-select" aria-label="Default select example" name="branch">
          <option selected>Select a branch</option>
          <option value="Andheri(E)">Andheri(E)</option>
          <option value="Andheri(W)">Andheri(W)</option>
        </select>
      
        <!-- 2 column grid layout for inline styling -->
        <!-- <div class="row mb-4">
          <div class="col d-flex justify-content-center">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>
      
          <div class="col">
      
            <a href="#!">Forgot password?</a>
          </div>
        </div> -->
      
        <!-- Submit button -->
        <button type="submit" class="btn w-100 text-white my-4 btn-primary btn-block mb-4">Login</button>
      
      </form>
    </div>


    
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../static/js/loginAlert.js"></script>
    <script src="../static/js/responsive.js"></script>
</body>
</html>