<div class="w-fit-content bg-white vh-100 p-5 d-flex flex-column gap-5">
    <a class="text-decoration-none fw-medium sidebarlink" href="purchase">Purchase</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="salespage">Sales</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="masterlogin">Master</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="serviceSales">service Sales</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="alerts">Alerts</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="logout">Logout</a>
</div>