<div class="w-fit-content bg-white vh-100 p-5 d-flex flex-column gap-5">
    <a class="text-decoration-none fw-medium sidebarlink"  href="masterpanel">Customer</a>
    <a class="text-decoration-none  fw-medium sidebarlink"  href="supplier">Supplier</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="products">Products</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="service">Service</a>
    <a class="text-decoration-none  fw-medium sidebarlink" href="mlogout">Logout</a>
</div>